@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


body {
    font-family: 'Roboto','Noto Sans TC', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*, *::before, *::after{
    box-sizing:border-box;
   }

img {
	max-width: 100%;
	height: auto;
    vertical-align: middle;
}

.logo img{
    width: 80px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    &:hover{
        opacity: 0.8;
    }
}

a{
    text-decoration: none;
    &:hover{
        opacity: 0.8;
    }
}

.text-center{
    text-align: center;
}