//banner

.banner {
    background: url("../images/home-header.png") center center no-repeat;
    background-size: cover;    

    @include pad {
        background: url("../images/home-header-sm.png") center center no-repeat;
        background-size: cover;
    }

    @include mob {
        padding: 144px 0;
    }

    .solgan {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 787px;
        text-align: right;
        @include mob{
            height: 396px;
        }

        .sub-title {
            font-size: 36px;
            line-height: 54px;
            color: $secondary;

            @include mob {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .title {
            font-size: 64px;
            line-height: 96px;
            font-weight: 700;
            color: $secondary;
            margin-bottom: 10px;

            @include mob {
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 8px;
            }
        }

        a {
            display: inline-block;
            padding: 6px 12px;
            color: #fff;
            background-color: $primary;
            font-size: 20px;
        }
    }
}

//service

.service {
    background-color: $light-red;
    padding: 80px 0;

    @include mob {
        padding: 40px 0;

        .h2 {
            font-size: 24px;
        }
    }

    .serList {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        @include mob {
            flex-direction: column;
            align-items: center;
        }

        .serItem {
            max-width: 25%;
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include pad {
                max-width: 50%;
            }

            @include mob {
                max-width: 100%;
                margin-bottom: 32px;
            }

            img {
                width: 84px;
                margin-bottom: 24px;

                @include mob {
                    width: 100px;
                }
            }

            .item {
                font-size: $h6-font-size;
                line-height: 36px;
                font-weight: 700;
                color: $secondary;
                margin-bottom: 8px;
            }
        }
    }
}

//product

.product {
    padding: 80px 0;

    @include mob {
        padding: 40px 0;
    }

    .proList {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        @include pad {
            flex-direction: column;
            align-items: center;
        }

        .proItem {
            display: flex;
            flex-direction: column;
            max-width: 33.3%;
            padding: 0 12px;

            @include pad {
                max-width: 42%;
                margin-bottom: 24px;
            }

            @include mob {
                max-width: 100%;
            }

            .title {
                font-style: italic;
                font-size: 48px;
                margin-bottom: 24px;

            }
        }
    }

}

//brand

.brand {
    background: url("../images/index-bg.png") no-repeat center center;
    background-size: cover;
    padding: 80px 0;

    @include pad {
        background: url("../images/index-bg-md.png") no-repeat center center;
        background-size: cover;
    }

    @include mob {
        padding: 80px 0;
        background: url("../images/index-bg-sm.png") no-repeat center center;
        background-size: cover;

        .h2 {
            font-size: 48px;
        }
    }

    .brandList {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;

        .brandItem {
            width: 50%;

            @include pad {
                width: 100%;
                margin-bottom: 24px;
            }

            a {
                display: flex;
                flex-direction: column;

                h2 {
                    background-color: #fff;
                }
            }


            .double {
                background: url("../images/home-section4-1.png") no-repeat center center;
                background-size: cover;
                height: 240px;

                @include mob {
                    background: url("../images/home-section4-1-sm.png") no-repeat center center;
                    background-size: cover;
                }
            }

            .youth {
                background: url("../images/home-section4-2.png") no-repeat center center;
                background-size: cover;
                height: 240px;

                @include mob {
                    background: url("../images/home-section4-2-sm.png") no-repeat center center;
                    background-size: cover;
                }
            }

            p {
                padding: 8px 0;
                background-color: #fff;
                font-style: italic;
            }
        }
    }
}

//recommed

.recommed {
    padding: 80px 0;

    @include mob {
        padding: 40px 0;

        .h2 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .recommedList {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        .recommedItem {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 25%;
            padding: 0 12px;
            border-radius: 4px;

            @include pad {
                max-width: 50%;
                margin-bottom: 24px;
            }

            @include mob {
                max-width: 100%;
            }

            .textBox {
                padding: 16px;
                box-shadow: 0px 2px 6px #00000029;
                border: 1px solid #DEE2E6;
                height: 205px;
            }

            .date {
                position: absolute;
                bottom: 16px;
            }
        }
    }
}

//contact

.contact_form {
    background-color: $light-red;
    padding: 80px 0;

    @include mob {
        padding: 80px 0;

        .h2 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }


    .mailArea {
        max-width: 636px;

        form {
            max-width: 100%;

            .label {
                font-size: 16px;
                line-height: 24px;
            }

            .input,
            textarea {
                line-height: 24px;
                margin: 8px 0 16px 0;
                border: 1px solid #000;
                width: 100%;
                padding: 6px 12px;
                background-color: $light-red;
            }

            .box-h {
                height: 136px;
            }

            .checkbox {
                width: 20px;
                height: 20px;
                margin-right: 4px;
                vertical-align: middle;
                background-color: $light-red;
            }

            .send-btn {
                display: block;
                width: 65%;
                margin: 0 auto;
                font-size: 16px;
                line-height: 24px;
                margin-top: 48px;
                padding: 16px;
                background-color: $primary;
                border: 0px solid #000;
                color: #fff;

                @include mob {
                    width: 100%;
                }
            }
        }

    }
}