//header
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    background-color: $primary;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0 13px 0;
        position: relative;
    }

    .menu {
        display: flex;

        @include mob {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            left: 0;
            top: 100%;
            max-height: 0px;
            margin: 0 -14px;
            transition: all 0.8s;
            overflow: hidden;
            z-index: 120;

            &.active {
                max-height: 315px;
            }
        }
    }

    li a {
        display: block;
        font-size: 20px;
        padding: 10px 32px;
        color: #fff;

        @include mob {
            display: block;
            background: $primary;
            color: #FFFFFF;
            border-top: 1px solid #FFFFFF;
            padding: 16px;
            text-decoration: none;

            &:hover {
                background: $secondary;
                opacity: 1;
            }
        }

    }
}

.menu-icon {
    display: none;

    .material-symbols-outlined {
        font-size: 36px;
        color: #fff;
    }

    @include mob {
        display: block;
        position: absolute;
        z-index: 4;
        top: 25px;
        right: 0px;
    }
}


//footer

.footer {
    background-color: $primary;
    padding: 48px 0 32px 0;
    @include mob{
        padding: 24px 0 16px 0;
    }

    .company {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;

        .item {
            display: flex;
            margin-bottom: 36px;
            @include mob{
                display: none;
            }

            a {
                display: block;
                color: #fff;
                padding-right: 48px;
                @include pad{
                    padding-right: 24px;
                }
                
            }
        }

        .info {
            margin-bottom: 32px;

            a {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 36px;
                @include mob{
                    font-size: 16px;
                }
                .material-symbols-outlined{
                    font-size: 36px;
                    padding-right: 22px;
                    @include mob{
                        font-size: 18px;
                        padding-right: 11px;
                    }
                }
            }

        }
        .media{
            display: flex;
            a{
                display: block;
                width: 48px;
                height: 48px;
                margin-left: 32px;
                @include mob{
                    width: 24px;
                    height: 24px;
                    margin-left: 8px;
                }
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        @include mob{
            flex-direction: column;
        }
        p{
            color: #fff;
            @include mob{
                margin-bottom: 8px;
            }
        }
        .notice{
            display: flex;
            @include mob{
                flex-direction: column;
            }
            a{
                display: block;
                color: #fff;
                margin-left: 48px;
                @include mob{
                    margin-left: 0px;
                    padding-bottom: 8px;
                }

            }
        }
    }
}







