//sub_nav

.subNav {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    text-align: center;

    .product-item {
        width: calc(100%/3);
        border-right: 1px solid #DCDCDC;

        &:first-child {
            border-left: 1px solid #DCDCDC;
        }

        a {
            display: block;
            font-size: 32px;
            color: #000;
            padding: 24px 0 16px;
            @include pad{
                font-size: 24px;
            }
            @include mob{
                font-size: 16px;
                padding: 16px 0 8px;
            }
        }

        .item-active {
            border-bottom: 8px solid #AA0601;
        }
    }
}

//banner

.proBanner {
    display: flex;
    width: 100%;
    height: 296px;
    @include mob{
        height: 136px;
    }

    .glass-left {
        background: url("../images/product-header-1.png") no-repeat center center;
        background-size: cover;
        width: 50%;
    }

    .glass-right {
        background: url("../images/product-header-2.png") no-repeat center center;
        background-size: cover;
        width: 50%;
    }
}

//product list

.glass-product {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    text-align: center;
    @include mob{
        padding: 40px 0;
        .h3, .h5{
            font-size: 24px;
        }
    }

    .proList {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        .product-item {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            padding: 0 12px;
            margin-bottom: 80px;
            @include pad{
                width: 50%;
            }
            @include mob{
                width: 100%;
                margin-bottom: 24px;
            }

            .name {
                display: flex;
                justify-content: space-between;
            }
            .block {
                display: flex;

                .blown {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: #5f3e2d;
                    margin-right: 8px;
                }

                .blown2 {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: #B75929;
                }
            }
        }
    }
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        .page{
            display: flex;
            flex-wrap: nowrap;
            li{
                border: 1px solid #555;
                a{
                    color: #000;
                    display: block;
                    padding: 12px 16px;
                    &:hover{
                        background-color: #f2f2f2;
                    }
                    
                }
                .active{
                    color: #fff;
                    background-color: #000;
                }
            }
            
        }
    }
 
}








