//font-size

$font-size-basic: 16px;
$h1-font-size: $font-size-basic*4; //64px
$h2-font-size: $font-size-basic*3; //48px
$h3-font-size: $font-size-basic*2.625; //42px
$h4-font-size: $font-size-basic*2.25; //36px
$h5-font-size: $font-size-basic*2; //32px
$h6-font-size: $font-size-basic*1.5; //24px
$h7-font-size: $font-size-basic*1.25; //20px
$h8-font-size: $font-size-basic; //16px
$h9-font-size: $font-size-basic*0.875; //14px

//color

$primary: #AA0601;
$secondary:#650300;
$brown: #5F3E2D;
$light-brown: #B75929;
$light-gray: #F2F2F2;
$dark-gray: #555555;
$light-red: #FBF2F2;

//light high

$text-ligh-high: 1.5;











