/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.red_dark {
  color: #650300; }

.red_light {
  color: #AA0601; }

.white {
  color: #fff; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 42px; }

.h4 {
  font-size: 36px; }

.h5 {
  font-size: 32px; }

.h6 {
  font-size: 24px; }

.h7 {
  font-size: 20px; }

.h8 {
  font-size: 16px; }

.h9 {
  font-size: 16px; }

.fw-light {
  font-weight: 400; }

.fw-regular {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-heavy {
  font-weight: 900; }

.pt-1 {
  padding-top: 8px; }

.pt-2 {
  padding-top: 16px; }

.pt-3 {
  padding-top: 24px; }

.pt-4 {
  padding-top: 32px; }

.pt-5 {
  padding-top: 40px; }

.pt-6 {
  padding-top: 48px; }

.pt-7 {
  padding-top: 56px; }

.pt-8 {
  padding-top: 64px; }

.pt-9 {
  padding-top: 72px; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-80 {
  padding-top: 80px; }

.pt-100 {
  padding-top: 100px; }

.pb-1 {
  padding-bottom: 8px; }

.pb-2 {
  padding-bottom: 16px; }

.pb-3 {
  padding-bottom: 24px; }

.pb-4 {
  padding-bottom: 32px; }

.pb-5 {
  padding-bottom: 40px; }

.pb-6 {
  padding-bottom: 48px; }

.pb-7 {
  padding-bottom: 56px; }

.pb-8 {
  padding-bottom: 64px; }

.pb-9 {
  padding-bottom: 72px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-100 {
  padding-bottom: 100px; }

.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-3 {
  margin-top: 24px; }

.mt-4 {
  margin-top: 32px; }

.mt-5 {
  margin-top: 40px; }

.mt-6 {
  margin-top: 48px; }

.mt-7 {
  margin-top: 56px; }

.mt-8 {
  margin-top: 64px; }

.mt-9 {
  margin-top: 72px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 56px; }

.mb-8 {
  margin-bottom: 64px; }

.mb-9 {
  margin-bottom: 72px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.logo img {
  width: 80px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }
  .logo img:hover {
    opacity: 0.8; }

a {
  text-decoration: none; }
  a:hover {
    opacity: 0.8; }

.text-center {
  text-align: center; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 920px;
      padding: 0 36px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 740px;
      padding: 0 14px; } }

.header {
  background-color: #AA0601; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 14px 0 13px 0;
    position: relative; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .header .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        max-height: 0px;
        margin: 0 -14px;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 120; }
        .header .menu.active {
          max-height: 315px; } }
  .header li a {
    display: block;
    font-size: 20px;
    padding: 10px 32px;
    color: #fff; }
    @media (max-width: 767px) {
      .header li a {
        display: block;
        background: #AA0601;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
        padding: 16px;
        text-decoration: none; }
        .header li a:hover {
          background: #650300;
          opacity: 1; } }

.menu-icon {
  display: none; }
  .menu-icon .material-symbols-outlined {
    font-size: 36px;
    color: #fff; }
  @media (max-width: 767px) {
    .menu-icon {
      display: block;
      position: absolute;
      z-index: 4;
      top: 25px;
      right: 0px; } }

.footer {
  background-color: #AA0601;
  padding: 48px 0 32px 0; }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0 16px 0; } }
  .footer .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff; }
    .footer .company .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 36px; }
      @media (max-width: 767px) {
        .footer .company .item {
          display: none; } }
      .footer .company .item a {
        display: block;
        color: #fff;
        padding-right: 48px; }
        @media (max-width: 992px) {
          .footer .company .item a {
            padding-right: 24px; } }
    .footer .company .info {
      margin-bottom: 32px; }
      .footer .company .info a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        font-size: 36px; }
        @media (max-width: 767px) {
          .footer .company .info a {
            font-size: 16px; } }
        .footer .company .info a .material-symbols-outlined {
          font-size: 36px;
          padding-right: 22px; }
          @media (max-width: 767px) {
            .footer .company .info a .material-symbols-outlined {
              font-size: 18px;
              padding-right: 11px; } }
    .footer .company .media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .company .media a {
        display: block;
        width: 48px;
        height: 48px;
        margin-left: 32px; }
        @media (max-width: 767px) {
          .footer .company .media a {
            width: 24px;
            height: 24px;
            margin-left: 8px; } }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px; }
    @media (max-width: 767px) {
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .copyright p {
      color: #fff; }
      @media (max-width: 767px) {
        .footer .copyright p {
          margin-bottom: 8px; } }
    .footer .copyright .notice {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .footer .copyright .notice {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer .copyright .notice a {
        display: block;
        color: #fff;
        margin-left: 48px; }
        @media (max-width: 767px) {
          .footer .copyright .notice a {
            margin-left: 0px;
            padding-bottom: 8px; } }

.faq {
  padding: 96px 12px 48px 12px;
  max-width: 1320px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .faq {
      padding: 40px 12px 40px 12px; }
      .faq p {
        margin-bottom: 24px; } }
  .faq .h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
    @media (max-width: 767px) {
      .faq .h2 {
        font-size: 24px; } }

.subNav {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .subNav .product-item {
    width: calc(100%/3);
    border-right: 1px solid #DCDCDC; }
    .subNav .product-item:first-child {
      border-left: 1px solid #DCDCDC; }
    .subNav .product-item a {
      display: block;
      font-size: 32px;
      color: #000;
      padding: 24px 0 16px; }
      @media (max-width: 992px) {
        .subNav .product-item a {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .subNav .product-item a {
          font-size: 16px;
          padding: 16px 0 8px; } }
    .subNav .product-item .item-active {
      border-bottom: 8px solid #AA0601; }

.proBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 296px; }
  @media (max-width: 767px) {
    .proBanner {
      height: 136px; } }
  .proBanner .glass-left {
    background: url("../images/product-header-1.png") no-repeat center center;
    background-size: cover;
    width: 50%; }
  .proBanner .glass-right {
    background: url("../images/product-header-2.png") no-repeat center center;
    background-size: cover;
    width: 50%; }

.glass-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .glass-product {
      padding: 40px 0; }
      .glass-product .h3, .glass-product .h5 {
        font-size: 24px; } }
  .glass-product .proList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    .glass-product .proList .product-item {
      width: 25%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 12px;
      margin-bottom: 80px; }
      @media (max-width: 992px) {
        .glass-product .proList .product-item {
          width: 50%; } }
      @media (max-width: 767px) {
        .glass-product .proList .product-item {
          width: 100%;
          margin-bottom: 24px; } }
      .glass-product .proList .product-item .name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .glass-product .proList .product-item .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .glass-product .proList .product-item .block .blown {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background-color: #5f3e2d;
          margin-right: 8px; }
        .glass-product .proList .product-item .block .blown2 {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background-color: #B75929; }
  .glass-product .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .glass-product .pagination .page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .glass-product .pagination .page li {
        border: 1px solid #555; }
        .glass-product .pagination .page li a {
          color: #000;
          display: block;
          padding: 12px 16px; }
          .glass-product .pagination .page li a:hover {
            background-color: #f2f2f2; }
        .glass-product .pagination .page li .active {
          color: #fff;
          background-color: #000; }

.subNav {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .subNav .product-item {
    width: calc(100%/3);
    border-right: 1px solid #DCDCDC; }
    .subNav .product-item:first-child {
      border-left: 1px solid #DCDCDC; }
    .subNav .product-item a {
      display: block;
      font-size: 32px;
      color: #000;
      padding: 24px 0 16px; }
      @media (max-width: 992px) {
        .subNav .product-item a {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .subNav .product-item a {
          font-size: 16px;
          padding: 16px 0 8px; } }
    .subNav .product-item .item-active {
      border-bottom: 8px solid #AA0601; }

.proBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 296px; }
  @media (max-width: 767px) {
    .proBanner {
      height: 136px; } }
  .proBanner .glass-left {
    background: url("../images/product-header-1.png") no-repeat center center;
    background-size: cover;
    width: 50%; }
  .proBanner .glass-right {
    background: url("../images/product-header-2.png") no-repeat center center;
    background-size: cover;
    width: 50%; }

.glass-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .glass-product {
      padding: 40px 0; }
      .glass-product .h3, .glass-product .h5 {
        font-size: 24px; } }
  .glass-product .proList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    .glass-product .proList .product-item {
      width: 33.3%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 12px;
      margin-bottom: 80px; }
      @media (max-width: 992px) {
        .glass-product .proList .product-item {
          width: 50%; } }
      @media (max-width: 767px) {
        .glass-product .proList .product-item {
          width: 100%;
          margin-bottom: 24px; } }
      .glass-product .proList .product-item .name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .glass-product .proList .product-item .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .glass-product .proList .product-item .block .blown {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background-color: #5f3e2d;
          margin-right: 8px; }
        .glass-product .proList .product-item .block .blown2 {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background-color: #B75929; }
  .glass-product .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .glass-product .pagination .page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .glass-product .pagination .page li {
        border: 1px solid #555; }
        .glass-product .pagination .page li a {
          color: #000;
          display: block;
          padding: 12px 16px; }
          .glass-product .pagination .page li a:hover {
            background-color: #f2f2f2; }
        .glass-product .pagination .page li .active {
          color: #fff;
          background-color: #000; }

.banner {
  background: url("../images/home-header.png") center center no-repeat;
  background-size: cover;
  padding: 296px 0; }
  @media (max-width: 992px) {
    .banner {
      background: url("../images/home-header-sm.png") center center no-repeat;
      background-size: cover; } }
  @media (max-width: 767px) {
    .banner {
      padding: 144px 0; } }
  .banner .indexTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .banner .indexTitle p {
      font-size: 36px;
      line-height: 54px;
      color: #650300; }
      @media (max-width: 767px) {
        .banner .indexTitle p {
          font-size: 16px;
          line-height: 24px; } }
    .banner .indexTitle .h1 {
      font-size: 64px;
      line-height: 96px;
      font-weight: 700;
      color: #650300;
      margin-bottom: 10px; }
      @media (max-width: 767px) {
        .banner .indexTitle .h1 {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 8px; } }
    .banner .indexTitle a {
      display: block;
      padding: 6px 12px;
      color: #fff;
      background-color: #AA0601;
      font-size: 20px; }

.service {
  background-color: #FBF2F2;
  padding: 80px 0; }
  @media (max-width: 767px) {
    .service {
      padding: 40px 0; }
      .service .h2 {
        font-size: 24px; } }
  .service .serList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    @media (max-width: 767px) {
      .service .serList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .service .serList .serItem {
      max-width: 25%;
      padding: 0 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 992px) {
        .service .serList .serItem {
          max-width: 50%; } }
      @media (max-width: 767px) {
        .service .serList .serItem {
          max-width: 100%;
          margin-bottom: 32px; } }
      .service .serList .serItem img {
        width: 84px;
        margin-bottom: 24px; }
        @media (max-width: 767px) {
          .service .serList .serItem img {
            width: 100px; } }
      .service .serList .serItem .h6 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        color: #650300;
        margin-bottom: 8px; }

.product {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .product {
      padding: 40px 0; }
      .product .h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .product .proList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    @media (max-width: 992px) {
      .product .proList {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .product .proList .proItem {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 33.3%;
      padding: 0 12px; }
      @media (max-width: 992px) {
        .product .proList .proItem {
          max-width: 42%;
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .product .proList .proItem {
          max-width: 100%; } }
      .product .proList .proItem .h2 {
        font-style: italic; }
        @media (max-width: 767px) {
          .product .proList .proItem .h2 {
            font-size: 48px;
            height: 72px; } }

.brand {
  background: url("../images/index-bg.png") no-repeat center center;
  background-size: cover;
  padding: 80px 0; }
  @media (max-width: 992px) {
    .brand {
      background: url("../images/index-bg-md.png") no-repeat center center;
      background-size: cover; } }
  @media (max-width: 767px) {
    .brand {
      padding: 80px 0;
      background: url("../images/index-bg-sm.png") no-repeat center center;
      background-size: cover; }
      .brand .h2 {
        font-size: 48px; } }
  .brand .brandList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px; }
    .brand .brandList .brandItem {
      width: 50%; }
      @media (max-width: 992px) {
        .brand .brandList .brandItem {
          width: 100%;
          margin-bottom: 24px; } }
      .brand .brandList .brandItem a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .brand .brandList .brandItem .double {
        background: url("../images/home-section4-1.png") no-repeat center center;
        background-size: cover;
        height: 240px; }
        @media (max-width: 767px) {
          .brand .brandList .brandItem .double {
            background: url("../images/home-section4-1-sm.png") no-repeat center center;
            background-size: cover; } }
      .brand .brandList .brandItem .youth {
        background: url("../images/home-section4-2.png") no-repeat center center;
        background-size: cover;
        height: 240px; }
        @media (max-width: 767px) {
          .brand .brandList .brandItem .youth {
            background: url("../images/home-section4-2-sm.png") no-repeat center center;
            background-size: cover; } }
      .brand .brandList .brandItem p {
        padding: 8px 0;
        background-color: #fff;
        font-style: italic; }

.recommed {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .recommed {
      padding: 40px 0; }
      .recommed .h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .recommed .recommedList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -12px; }
    .recommed .recommedList .recommedItem {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 25%;
      padding: 0 12px;
      border-radius: 4px; }
      @media (max-width: 992px) {
        .recommed .recommedList .recommedItem {
          max-width: 50%;
          margin-bottom: 24px; } }
      @media (max-width: 767px) {
        .recommed .recommedList .recommedItem {
          max-width: 100%; } }
      .recommed .recommedList .recommedItem .textBox {
        padding: 16px;
        -webkit-box-shadow: 0px 2px 6px #00000029;
                box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #DEE2E6;
        height: 205px; }
      .recommed .recommedList .recommedItem .date {
        position: absolute;
        bottom: 16px; }

.contact_form {
  background-color: #FBF2F2;
  padding: 80px 0; }
  @media (max-width: 767px) {
    .contact_form {
      padding: 80px 0; }
      .contact_form .h2 {
        font-size: 24px;
        margin-bottom: 24px; } }
  .contact_form .mailArea {
    max-width: 636px; }
    .contact_form .mailArea form {
      max-width: 100%; }
      .contact_form .mailArea form .label {
        font-size: 16px;
        line-height: 24px; }
      .contact_form .mailArea form .input,
      .contact_form .mailArea form textarea {
        line-height: 24px;
        margin: 8px 0 16px 0;
        border: 1px solid #000;
        width: 100%;
        padding: 6px 12px;
        background-color: #FBF2F2; }
      .contact_form .mailArea form .box-h {
        height: 136px; }
      .contact_form .mailArea form .checkbox {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        vertical-align: middle;
        background-color: #FBF2F2; }
      .contact_form .mailArea form .send-btn {
        display: block;
        width: 65%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        margin-top: 48px;
        padding: 16px;
        background-color: #AA0601;
        border: 0px solid #000;
        color: #fff; }
        @media (max-width: 767px) {
          .contact_form .mailArea form .send-btn {
            width: 100%; } }

/*# sourceMappingURL=all.css.map */
